.app{
  background-color: #ffff;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 0;
  font: 1.25em Garuda;
}

.title::before,
.title::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid black;
  margin: 0 10px;
}

@font-face {
  font-family: 'Garuda';
  src: url('./Garuda.ttf') format('truetype');
}

